:root {
	--bg: hsl(240, 90%, 4%);
	--fg: hsl(240, 70%, 95%);
	--nav: hsl(226, 70%, 15%);
	--search: hsl(234, 67%, 12%);
	--hero-bg: hsl(240, 30%, 8%, 80%);
	--footer: hsl(227, 74%, 12%);
	--hover: hsl(240, 75%, 96%);
	--hover-fg: hsl(240, 85%, 10%);
	--subnav-hover: hsl(240, 80%, 6%, 20%);
	--mobile-nav-blackout: hsl(240, 60%, 4%, 90%);

	--content-gap-x: 12px;
	--content-gap-y: 17px;
}

*, ::before, ::after {
	box-sizing: border-box;
}

#body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: Exo, Helvetica, Arial, sans-serif;
	margin: auto;
	padding: var(--content-gap-x) var(--content-gap-y);
}

#header {
	display: flex;
	flex-direction: column;
}

#title {
	margin: 0;
	padding: 0;
	text-align: center;
}

#header .trigger > .trigger-button {
	aspect-ratio: 1 / 1;
	background: none;
	border: none;
	border-radius: 8px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 1.2em;
	padding: 12px;
}

#header .trigger > .trigger-button:hover {
	background-color: var(--hover);
	color: var(--hover-fg);
}

#logo {
	display: inline-block;
	padding: 16px 24px;
}

#logo__image {
	max-width: 100%;
	max-height: 180px;
	height: auto;
	margin: auto;
	padding: auto;
	vertical-align: middle;
}

/* Navigation */
#navigation {
	background-color: var(--nav);
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
	position: static;
	transition: all 300ms ease-in;
}

#navigation__container {
	position: relative;
}

#navigation__trigger,
#search__trigger,
#navigation__close,
#search__close {
	display: none;
}

#navigation__items {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation__items > .navigation__item {
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
}

#navigation__items > .navigation__item > .navigation__link {
	display: block;
	color: inherit;
	border-radius: 8px;
	padding: 12px 18px;
	text-align: center;
	text-decoration: none;
}

#navigation__items > .navigation__item:has(.subnav) > .navigation__link {
	border-radius: 8px 8px 0 0;
}

#navigation__items > .navigation__item:hover > .navigation__link {
	background-color: var(--hover);
	color: var(--hover-fg);
}

#navigation__items .subnav {
	background-color: var(--hover);
	border-radius: 0 0 8px 8px;
	color: var(--hover-fg);
	font-size: 0.9em;
	display: none;
	min-width: 200px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 100%;
}

#navigation__items .subnav > .subnav__items {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#navigation__items .subnav > .subnav__items > .subnav__item {
	font-weight: normal;
}

#navigation__items .subnav > .subnav__items > .subnav__item > .subnav__link {
	display: block;
	padding: 12px 15px;
	text-decoration: none;
	color: inherit;
}

#navigation__items .subnav > .subnav__items > .subnav__item:hover > .subnav__link {
	background-color: var(--subnav-hover);
}

#navigation__items > .navigation__item:hover > .subnav {
	display: flex;
}

/* Sticky navigation */
#header:has(#navigation.sticky) {
	margin-bottom: 45px;
}

#navigation.sticky {
	position: fixed;
	top: 8px;
	width: calc(100% - var(--content-gap-x) * 3);
}

/* Mobile navigation */
.mobile #navigation__inner {
	flex-direction: column;
	position: fixed;
	inset: 0;
	height: 100vh;
	background-color: var(--mobile-nav-blackout);
}

.mobile #navigation__inner.show {
	display: flex;
}

.mobile:has(.show) {
	overflow: hidden;
}

.mobile #navigation__close {
	display: flex;
	justify-content: flex-end;
	padding: 8px 12px;
}

.mobile #navigation__close-button {
	aspect-ratio: 1 / 1;
	background: none;
	border: none;
	border-radius: 100%;
	color: inherit;
	cursor: pointer;
	font-size: 1.2em;
	padding: 12px;
	min-width: 50px;
}

.mobile #navigation__items {
	flex-direction: column;
}

.mobile #navigation__items > .navigation__item > .navigation__link {
	border-radius: 0;
	text-align: left;
}

.mobile #navigation__items > .navigation__item:hover > .navigation__link {
	background: none;
	color: inherit;
}

.mobile #navigation__items .subnav {
	display: flex;
	background: none;
	color: inherit;
	width: 100%;
	padding: 0 30px;
	position: static;
}

.mobile #navigation__items .subnav > .subnav__items > .subnav__item {
	font-weight: bold;
}

.mobile #navigation__items .subnav > .subnav__items > .subnav__item:hover > .subnav__link {
	background: none;
	color: inherit;
}

/* Search */
#search {
	background-color: var(--search);
	border-radius: 12px;
	display: flex;
	padding: 0 8px;
}

#search__label {
	padding: 12px;
}

#search__input {
	border: none;
	background: none;
	color: inherit;
	font-family: inherit;
	flex-grow: 1;
	padding: 12px 18px;
	min-width: 260px;
}

#search__submit {
	aspect-ratio: 1 / 1;
	background: none;
	border: none;
	border-radius: 100%;
	color: inherit;
	font-size: 1.2em;
	padding: 12px;
}

@media (width <= 768px) {
	#navigation__inner {
		display: none;
	}

	#navigation__trigger {
		display: inline-block;
	}
}

@media (width <= 1024px) {
	#search {
		display: none;
	}
	#search__trigger {
		display: inline-block;
	}
}

/* Content */
#content {
	display: flex;
	flex-direction: column;
	padding: 10px 13px;
}

#content__inner {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

#left__column {
	flex-grow: 1;
}

.mobile #content__inner {
	flex-direction: column;
}

/* Hero image */
#hero {
	position: relative;
}

#hero__text {
	position: absolute;
	inset: 0;
	display: flex;
	background-color: var(--hero-bg);
	backdrop-filter: blur(2px);
	padding: 12px 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#hero__image {
	aspect-ratio: 16 / 9;
	width: 100%;
}

/* Footer */
#footer {
	background-color: var(--footer);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	padding: 12px 20px;
}

#footer__logo {
	margin: 0;
	padding: 0;
}

#footer__logo-image {
	max-height: 150px;
}

#footer__social-menu {
	display: flex;
}

#footer__socials {
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

#footer__socials > .social-item {
	font-size: 1.4em;	
}

#footer__socials > .social-item > .social-link {
	display: block;
	color: inherit;
	padding: 8px;
}

/* Mobile footer */
.mobile #footer {
	flex-direction: column;	
}

.mobile .footer__section:has(#footer__logo) {
	order: 0;
}

.mobile #footer__socials {
	flex-direction: row;
}

.mobile .footer__section:has(#footer__socials) {
	order: 1;
}